* {
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
}

#get_em {
    position: fixed;
    width: 1em;
}

#get_em_small {
    position: fixed;

    color: transparent;
    visibility: hidden;
}